.App {
  margin: 0;
  background-image: url(./images/CFS_Paloma_Infinity_Shot_04_0776-edit\ 2.jpg);
  background-size: cover;
  background-position: center;
}
 
.background-image-container {
  display: flex;
  align-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.title {
  display: flex;
  align-self: center;
  margin-left: 2rem;
}

.navBar-home-container {
  transform: rotate(-90deg);
  position: fixed;
  bottom: -16rem;
  right: 17.4rem;
}

@media only screen and (max-width: 1300px) {
  .navBar-home-container {
    bottom: -14rem;
    right: 15rem;
  }
}

@media only screen and (max-width: 1100px) {
  .navBar-home-container {
    bottom: -10rem;
    right: 11rem;
  }
}

@media only screen and (max-width: 850px) and (orientation: landscape) {
  .navBar-home-container {
    bottom: -6rem;
    right: 7rem;
  }
}

@media only screen and (max-width: 850px) and (orientation: landscape) {
  

}

@media only screen and (max-width: 640px) and (orientation: landscape) {
  .title {
    justify-content: flex-end;
  }
  .navBar-home-container {
    transform: rotate(0);
    bottom: 0.4rem;
    left: 1rem; 

  }

}



