.App {
  margin: 0;
}
 
.background-image-container {
  display: flex;
  align-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.background-image {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1;
}

.title {
  display: flex;
  align-self: center;
  margin-left: 2rem;
}

